
       <div class="table-responsive">

                        <table class="table align-items-center table-bordered">
                            <thead class="bg-maal" style="height: 2vh;">
                                <tr>
                                    <th class="text-xxs font-weight-bolder text-white">رقم الطلب </th>
                                    <th class="text-xxs font-weight-bolder text-white"> رقم الصك</th>
                                    <th class="text-xxs font-weight-bolder text-white">اسم العميل</th>
                                    <th class="text-xxs font-weight-bolder text-white">مدخل الطلب</th>

                                    <th class="text-xxs text-white font-weight-bolder">تاريخ  </th>
                                                                       {%  if request.user.user_type == 5 %}
                                    <th class="text-secondary opacity-7 text-white"></th>
                                        {% else %}
                                                                           <th class="text-secondary opacity-7 text-white"></th>

                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                             {% for item in data %}
                              <tr>
                                        <td>
                                               <a href="{% url 'document-details' item.pk %}" style="text-decoration: none; cursor: pointer">
                                                                    <p class="mb-0 text-xxs text-center txt-black">{{ item.documentNumber }}</p>

               </a>

                                        </td>
 <td>
                                                    <p class="mb-0 text-xxs text-center txt-black">{{ item.paperNumber }}</p>

                                        </td>
                               <td>
                                                    <p class="mb-0 text-xxs text-center txt-black">{{ item.client.name }}</p>

                                        </td>
                               <td>
                                                    <p class="mb-0 text-xxs text-center txt-black">{{ item.enteredBy.first_name }} {{ item.enteredBy.last_name }}</p>

                                        </td>

                                   <td>
                                                    <p class="mb-0 text-xxs text-center txt-black">{{ item.dateEntered }}</p>

                                        </td>

                                   {%  if request.user.user_type == 5 %}
                                   <td>
                                            <a class="btn btn-sm btn-primary bg-maal text-white" href="{% url 'set_doc_completed' item.pk %}">إرسال</a>

                                </td>
                                       {% else %}
    <td>
                                            <a class="btn btn-sm btn-primary bg-maal text-white" href="{% url 'add-preview' item.pk %}">معاينة</a>

                                </td>
                                 {% endif %}
                                    </tr>
                               {% endfor %}

                            </tbody>
                        </table>
</div>