    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
        <a
          href="{% url 'all-clients' %}"
          style="cursor: pointer; text-decoration: none"
        >
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-12">
                  <div class="numbers">
                    <h4
                      class="
                        text-sm
                        blue-khieer
                        mb-0
                        text-capitalize
                        font-weight-bold
                        text-center
                      "
                    >
                      العملاء
                    </h4>
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
        <a
          href="{% url 'add-doc_client' %}"
          style="cursor: pointer; text-decoration: none"
        >
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-12">
                  <div class="numbers">
                    <h4
                      class="
                        text-sm
                        blue-khieer
                        mb-0
                        text-capitalize
                        font-weight-bold
                        text-center
                      "
                    >
                      مستند عقارى
                    </h4>
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </a>
      </div>