<footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="https://youtube.com/channel/UCbQ2vXRjCGOTp6o50NMAeZA" target="_blank" class="text-dark me-xl-4 me-4">
            <i class="text-lg fab fa-youtube" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/ksakhair?s=11" target="_blank" class="text-dark me-xl-4 me-4">
            <i class="text-lg fab fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/ksakhair/" target="_blank" class="text-dark me-xl-4 me-4">
            <i class="text-lg fab fa-instagram" aria-hidden="true"></i>
          </a>


        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
             ©
           خير السعودية
          </p>
        </div>
      </div>
    </div>
  </footer>