{% extends 'masterpage.html' %} {% load static %} {% block title %}الصفحة
الرئيسية {% endblock title %} {% block body %}
<section class="min-vh-85 mb-8" style="background-color: #f4f4f4">
  <div
    class="
      bg-kheer
      page-header
      align-items-start
      min-vh-90
      pt-5
      pb-11
      m-3
      border-radius-lg
    "
    style="background-image: url('../static/images/mahna.png')"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center mx-auto pt-lg-5"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-lg-n6 mt-md-n6 mt-n6">
      {% if request.user.user_type == 1%}
       {% include 'homeComponents/admin.html' %}
      {% elif request.user.user_type == 5 %}
         {% include 'homeComponents/entry.html' %}

      {% elif request.user.user_type == 6%}
   
         {% include 'homeComponents/preview.html' %}
 {% elif request.user.user_type == 4 %}
   
         {% include 'homeComponents/resident.html' %}

      {% endif %}
    </div>
  </div>
</section>
{% endblock body %}
